<% include ./_layouts/header %>
<h2 class="page-title">Add a note</h2>
<a href="/notes" class="btn btn-primary">Back to all notes</a>
<br><br>

<form method="post" action="/notes/add-note">
    <div class="form-group">
        <label for="">Text</label>
        <input type="text" class="form-control" name="text" placeholder="Text">
    </div>

    <div class="form-group">
        <label for="">Radius</label>
        <input type="text" class="form-control" name="radius" placeholder="Radius">
    </div>

    <div class="form-group">
        <label for="">Visibility</label>
        <select class="form-control" name="visibility" >
            <option value="friends">Friends</option>
            <option value="everyone">Everyone</option>
            <option value="me">Only Me</option>
        </select>
    </div>

    <br><br>

    <div class="form-group">
        <label for="">Start Date</label>
        <input type="date" class="form-control" name="start_date">
    </div>

    <div class="form-group">
        <label for="">End Date</label>
        <input type="date" class="form-control" name="end_date">
    </div>

    <div class="form-group">
        <label for="">Start Time</label>
        <input type="time" class="form-control" name="start_time">
    </div>

    <div class="form-group">
        <label for="">End Time</label>
        <input type="time" class="form-control" name="end_time">
    </div>

    <div class="form-group">
        <label for="">Frequency</label>
        <select class="form-control" name="frequency" >
            <option value="once">Just Once</option>
            <option value="daily">Every Day</option>
            <option value="weekly">Every Week</option>
            <option value="biweekly">Every 2 Weeks</option>
            <option value="monthly">Every Month</option>
            <option value="annual">Every Year</option>
        </select>
    </div>

    <button class="btn btn-default">Submit</button>
</form>
<% include ./_layouts/footer %>
