<% include ./_layouts/header %>
<h2 class="page-title">My Notes</h2>
<a href="/notes/add-note" class="btn btn-primary">Add a new note</a>
<br><br>

<table class="table table-striped sorting">
    <thead>
    <tr>
        <th>Text</th>
        <th>Post Time</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <% notes.forEach(function(note) { %>
        <tr>
            <td><%- utils.textWithClickableTags(note.text) %></td>
            <td><%= note.timestamp %></td>
            <td><a href="/my_notes/edit/<%= note.note_id %>">Edit</a></td>
            <td><a class="confirmDeletion" href="/my_notes/delete/<%= note.note_id %>">Delete</a></td>
        </tr>
    <% }); %>
    </tbody>
</table>

<% include ./_layouts/footer %>
